.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
} 