.dashboard-page {
  position: relative;
  width: 100%;
}

.dashboard-content {
  padding: 20px;
  margin-left: var(--sidemenu-width);
  min-height: calc(100vh - var(--navbar-height));
}

@media (max-width: 768px) {
  .dashboard-content {
    margin-left: 0;
  }
} 